<p id="sLog_detail">

    <div class="col-sm-12">
        <nav class="pull-right">
            <ul class="pagination">

            </ul>
        </nav>
        <h2>日志详情</h2>
    </div>
    <div class="col-sm-6">
        <h3>基本信息：</h3>
        <p>id：{{logDetail.ID}}</p>
        <p>日志介绍：{{logDetail.intro}}</p>
        <p>日志详情：{{logDetail.detail}}</p>
        <p>数据：{{logDetail.data}}</p>
        <p>日志等级：{{logDetail.level}}</p>
        <p>日志类型：{{logDetail.type}}</p>
    </div>
    <div class="col-sm-6">
        <h3>基本信息：</h3>
        <p>创建时间：{{logDetail.create_time}}</p>
        <p>更新时间：{{logDetail.update_time}}</p>
    </div>
</p>



