<div id="sPayment_index">
    <div class="col-sm-12">
        <nav class="pull-right">
            <ul class="pagination">
                <li>
                    <a ng-click="selectPage.getLastData()"
                       ng-if="selectPage.lastCache.length>0" aria-label="Previous">
                        <span class="glyphicon glyphicon-chevron-left"  aria-hidden="true"></span>
                    </a>
                </li>
                <li>
                    <a  ng-click="selectPage.getNextData()" aria-label="Next"
                        ng-if="selectPage.nextCache.length>0">
                        <span class="glyphicon glyphicon-chevron-right"  aria-hidden="true"></span>
                    </a>
                </li>
            </ul>
        </nav>
        <h2>查看商品类型 | <button class="btn  btn-success"  data-toggle="modal" data-target="#aAdmin" type="button">添加商品类型</button></h2>
        <div class="modal fade" id="aAdmin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" >添加商品类型</h4>
                    </div>
                    <div class="modal-body">
                        <h4>商品类型名</h4>
                        <input type="text" class="form-control" ng-model="commodity_class_name" placeholder="commodity class name">
                        <h4>商品类型容量</h4>
                        <input type="text" class="form-control" ng-model="commodity_class_area_num" placeholder="对应区域容量，整数">
                        <h4>绑定到区域</h4>
                        <select class="form-control" ng-model="area_id" ng-options="area._id.$id as area.intro for area in areaData['data']">
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sm btn-primary" type="submit" data-dismiss="modal" ng-click="addCommodityClass()">提交</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <table class="table table-hover table-bordered">

        <tr class="container">
            <th><span class="glyphicon glyphicon-tag">  ID</span></th>
            <th><span class="glyphicon glyphicon-leaf">  商品类型名</span></th>
            <th><span class="glyphicon glyphicon-leaf">  所属区域</span></th>
            <!--<th><span class="glyphicon glyphicon-leaf">  所属区域id</span></th>-->
            <th><span class="glyphicon glyphicon-leaf">  容量</span></th>
            <th><span class="glyphicon glyphicon-cog">  操作</span></th>
        </tr>
        <tr class="container" ng-repeat="single in selectPage.data">
            <td class="container">{{single.ID}}</td>
            <td class="container">{{single.name}}</td>
            <td class="container">{{single.area_name}}</td>
            <!--<td class="container">{{single.area_id}}</td>-->
            <td class="container">{{single.areaCapacity}}</td>
            <td class="container"><!-- Button trigger modal -->

                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#upd_{{single._id.$id}}"><span class="glyphicon glyphicon-edit">修改</span></button>

                <div class="modal fade" id="upd_{{single._id.$id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">当前商品类型ID：{{single.ID}}</h4>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" class="form-control" ng-model="single.area_id" id="{{single._id.$id}}_old_area">
                                <h4>请输入新的商品类型名</h4>
                                <input class="form-control"  ng-model="single.name" id="{{single._id.$id}}_name">
                                <h4>新的容量</h4>
                                <input type="text" class="form-control" ng-model="single.areaCapacity" id="{{single._id.$id}}_areaCapacity">
                                <h4>重新绑定到区域</h4>
                                <!--<select id="{{single._id.$id}}_area" class="form-control" name="class" ng-model="single.area" ng-options="area._id.$id as area.intro for area in areaData['data']">-->
                                <!--</select>-->
                                <!--<select class="form-control" ng-model="single.area_id"  name="class" id="{{single._id.$id}}_area" ng-options="area._id.$id as area.intro for area in areaData['data']">-->
                                <!--</select>-->
                                <select class="form-control" id="{{single._id.$id}}_area">
                                    <option value=""></option>
                                    <option ng-repeat="area in areaData['data']" value="{{area._id.$id}}">{{area.intro}}</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button  class="btn btn-danger btn-sm" type="submit" ng-click="updateCommodityClass(single._id.$id)">提交</button>

                                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                            </div>
                        </div>
                    </div>
                </div>




                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#del_{{single._id.$id}}"><span class="glyphicon glyphicon-trash">删除</span></button>

                <!-- Modal -->
                <div class="modal fade" id="del_{{single._id.$id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">警告！</h4>
                            </div>
                            <div class="modal-body">
                                将要删除该商品类型！
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-danger btn-sm" ng-click="deleteCommodityClass(single._id.$id,single.area_id)">删除</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>

                            </div>
                        </div>
                    </div>
                </div></td>
        </tr>

    </table>

    <nav>
        当前第 {{ selectPage.page.nowPage }} 页 | 总计 {{ selectPage.page.totalPage }} 页
        <ul class="pager">
            <li><a ng-if="selectPage.page.nowPage>1"
                   href="" ng-click="selectPage.previousPage()">前一页</a></li>

            <li><a ng-if="selectPage.page.nowPage<selectPage.page.totalPage"
                   href="" ng-click="selectPage.nextPage()">下一页</a></li>
        </ul>
    </nav>

</div>






